<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="contracts" type="java.util.Collection<io.leasingninja.riskmanagement.userinterface.ContractModel>"*/-->
<head>
    <title>LeasingNinja – Risk management</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
 	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
	<h1>Risk management</h1>
    <table>
    <thead>
        <tr>
            <th> Contract </th>
            <th> Credit rating </th>
            <th> Vote result </th>
        </tr>
    </thead>
    <tbody>
         <tr th:if="${contracts.isEmpty()}">
            <td colspan="4"> No contracts to vote </td>
         </tr>
         <tr th:each="contract : ${contracts}">
             <td><span th:text="${contract.number}"> Contract </span></td>
             <td><span th:text="${contract.creditRating}"> Credit rating </span></td>
             <td><span th:text="${contract.voteResult}"> Vote result </span></td>
             <td><a th:href="@{rating(contract_number=${contract.number})}">Rate</a> </td> <!-- Evaluates to: "rating?contract_number=4711" -->
        </tr>
    </tbody>
</table>
</body>
</html>