<!DOCTYPE HTML>
<!--/*@thymesVar id="editing_disabled" type="java.lang.Boolean"*/-->
<!--/*@thymesVar id="contract" type="io.leasingninja.riskmanagement.userinterface.ContractModel"*/-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>LeasingNinja – Risk management</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
 	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
	<h1>Risk management—Voting a contract</h1>
    <form action="/vote_contract" method="post">
		<fieldset id="input" th:disabled="${editing_disabled}">
		    <div>
		    	<label for="contract_number">Number:</label>
		    	<input type="text" id="contract_number" name="contract_number" th:value="${contract.number}">
			</div>
		    <div>
		    	<label for="vote_result">Result:</label>
		    	<select type="number" id="vote_result" name="vote_result" th:value="${contract.vote_result}">
				  <option>Accepted</option>
				  <option>Accepted with obligations</option>
				  <option>Rejected</option>
				</select>
			</div>
			<div>
		     	<button type="submit">Vote</button>
		   <!--   	<button type="submit" formaction="/sign">Sign</button> --> 
			</div>
		  </fieldset>
    </form>
</body>
</html>